h1 {
    color: gray;
}

.nav {
    background-color: black;
}

body {
    background-color: darkgray;
}

.nav a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
.nav a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
.nav a:hover {
    color: gray;
    text-decoration: none;
}

/* selected link */
.nav a:active {
    color: gray;
    text-decoration: none;
}