h1 {
    color: gray;
}

body {
    background-color: black;
}

.nav a:link {
    color: white;
}

/* visited link */
.nav a:visited {
    color: white;
}

/* mouse over link */
.nav a:hover {
    color: gray;
}

/* selected link */
.nav a:active {
    color: gray;
}